node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npm/
.env

# Visual Studio Code directory
.vscode/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Ignore build directory
build/
dist/
bin/